{% extends "layout.html" %}

{% block title %} Current game!  {% endblock %}


{% block content %}

{% block body %}
<h1> Your Current Game! </h1>
<h2> Welcome { user.name }</h2>
<p>Your Challenge:</p>




<form action = "{{url_for("check_solution")}}" method = "POST">
	Solution: <input type = "text" name = "challenge_solution"> <br>
	<input type = "submit"> <br>
  <a href="#" onclick="getLocation(); return false;"> Get My Location </a>
</form> 

<script>
var userlat=document.getElementById('lat')
var userlong=document.getElementById('long')
function getLocation() {
    if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    }
    else { alert('upgrade your browser for this to work.')

    }
  return false;
}
function showPosition(position)
  {
    console.log(position)
userlat.value=position.coords.latitude
userlong.value=position.coords.longitude
  }

</script>


<!--this is google maps Javascript-->

<div id="map_canvas" style="width:51%; height:50%"></div>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2XjJS6KlokrWieEJIi-qpUBZqoFYujhA&sensor=true">
</script>
<script type="text/javascript">
  var map;
function initialize() {
  var myLatlng = new google.maps.LatLng(37.7750,-122.4183);
  var mapOptions = {
    zoom: 12,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

  google.maps.event.addListener(map, 'click', function(event) {
    placeMarker(event.latLng);
    // remove listener pass in the click so that after the first click it will not allow users to click anymore
  });
}

function placeMarker(location) {
  var marker = new google.maps.Marker({
      position: location,
      map: map
  });

  map.setCenter(location);
}
</script>

<script type="text/javascript">
	initialize()
</script> 

{% endblock %}
{% endblock %}



