{% extends "layout.html" %}
{% block title %} Sign up!  {% endblock %}

{% block content %}
<div class="page-header"> 	
<h1>
	<br> 
	login here. 
</h1>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}
{% endblock %}

<form action = "{{url_for("authenticate")}}" method = "POST">
email: <input type = "text" name = "email">
password: <input type = "password" name = "password">
<input action = "{{url_for("authenticate")}}" method = "POST" type = "submit" value = "Login">
</form>









{% endblock %}