{% extends "layout.html" %}
{% block title %} 
	Make Games!  
{% endblock %}

{% block content %}

<h1> 
	<br>
	Create your own games! 
</h1>

<form action = "{{url_for("display_make_game")}}" method = "POST">
	Game Title: <br>
	<input class="input-large"type ="text" name ="game_title"> <br>
	Game Description:<br>
	<textarea class="input-large" rows = "5" cols = "100%"></textarea> <br>
	Number of Challenges:<br> 
	<input class ="input-large" type = "text" name = "number_of_challenges"> <br>
	<input type ="submit">
</form>



{% endblock %}